<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.secuso.privacyfriendlypasswordgenerator">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".PassGenApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <activity
            android:name="org.secuso.privacyfriendlypasswordgenerator.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tutorial.TutorialActivity"
            android:parentActivityName="org.secuso.privacyfriendlypasswordgenerator.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".tutorial.MasterPWTutorialActivity"
            android:parentActivityName="org.secuso.privacyfriendlypasswordgenerator.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypasswordgenerator.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypasswordgenerator.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.secuso.privacyfriendlypasswordgenerator.activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="org.secuso.privacyfriendlypasswordgenerator.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypasswordgenerator.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypasswordgenerator.activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="org.secuso.privacyfriendlypasswordgenerator.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypasswordgenerator.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlypasswordgenerator.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.secuso.privacyfriendlypasswordgenerator.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlypasswordgenerator.activities.MainActivity" />
        </activity>

        <service
            android:name=".backup.PFABackupService"
            android:enabled="true"
            android:exported="true"
            android:process=":backup"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlybackup.api.pfa.PFAAuthService" />
            </intent-filter>
        </service>

    </application>

</manifest>
